html, body, h1, h2,h3 {
    padding: 0;
    margin: 0;
}





* {
    box-sizing: border-box;
}

nav {
    background-color: rgb(95, 147, 172);
}

a {
    color: rgb(0, 0, 126);
    text-decoration: none;
}

main h1, main h2, main p, main li{
    text-align: center;
}



nav .ancla{
    background-color: beige;
    padding: 5px;
    margin: 5px;
}

.contenedor {
    display: flex;
}

article {
    height: 300px;
    width: 50%;
    background-color: rgb(95, 147, 172);
    border-radius: 30px;
    margin:30px;
    padding: 30px;
}